@model Orders_New_MVC_Microservice.Models.ViewModels.MostOrderedProductViewModel

<div class="container mt-4">
    <h2 class="text-primary">Most Ordered Product</h2>

    <div class="card p-4 mt-3">
        <h4>Product ID: @Model.ProductId</h4>
        <h4>Product Name: @Model.ProductName</h4>
        <h4>Total Quantity Ordered: @Model.TotalQuantity</h4>
    </div>
</div>
